/*UNIVERSAL CSS*/
.plus_icon{
  height: 50px;
  width: 50px;
}
.toggle_div{
  display: flex;
  justify-content: space-between;
  height: 75px;
  align-items: center;
}
.dropdown_container{
border: 2px red solid;
width: 100%;
padding: 20px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;

}

.info_container{
padding: 10px;
width: 50%;
}

/*DOG INFO SECTION*/
.dog_info{
  display: flex;
}
.dog_list{
  display: flex;
  flex-direction: column;
  padding-left: 25px;
}
button {
  width: 100px;
}
.dog_info {
  display: flex;
  justify-content: center;
}
.dog_prof{
  border-radius: 50%;
  height: 300px;
  width: 300px;
}
.dog_image{
  padding-right: 25px
}
.dog_form{
  display: flex;
  flex-direction: column;
}
/*VET INFO SECTION*/
.vet_container{
  border: 2px black solid
}
.vet_section{
  border: 2px black solid;
}
/*MEDICATION INFO SECTION*/
.medication_container{
  border: 2px solid black;
}
.medication_section{
  border: 2px solid blue;
}

/*OWNER INFO SECTION*/
.owner_container{
  border: 2px solid red;
}
.owner_section{
  border: 2px solid purple;
}
